* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    margin: 70px 0;
}

h3 {
    margin: 70px 0 60px;
}

a {
    display: inline-block;
    padding: 15px 19px;
    border-radius: 3px;
    text-decoration: none;
}

code {
    display: inline-block;
    width: 100%;
    padding: 20px;
    background: #000000;
    color: greenyellow;
    margin-bottom: 50px;
}

div {
    margin-bottom: 150px;
}

div > h3 {
    margin-bottom: 30px;
}

.one {
    background: aliceblue;
    color: deepskyblue;
}

.two {
    background: pink;
    color: hotpink;
}


.three {
    background: greenyellow;
    color: mediumseagreen;
}

.tooltip {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    background: #20282D;
    background: rgba(32, 40, 45, 0.95);
    padding: 5px 8px;
    color: #ffffff;
    text-align: center;
    border-radius: 2px;
    text-transform: capitalize;
    white-space: nowrap;
    font-weight: 400;
    z-index: 2000;
}

.tooltip p {
    margin: 0;
    font-size: 12px;
    line-height: 10px;
}

.tooltip .arrow-down {
    display: inline-block;
    height: 0;
    width: 0;
    border-top: 3px solid rgba(32,40,45,0.95);
    border-right: 3px solid transparent;
    border-left: 3px solid transparent;
    position: absolute;
    bottom: -3px;
    left: 50%;
    margin-left: -2px;
}

.tooltip .arrow-up {
    display: inline-block;
    height: 0;
    width: 0;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-bottom: 3px solid rgba(32,40,45,0.95);
    position: absolute;
    top: -3px;
    left: 50%;
    margin-left: -2px;
}