* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    margin: 70px 0;
}

h3 {
    margin: 70px 0;
}

a {
    padding: 15px 20px;
    border-radius: 3px;
    text-decoration: none;
}

.default {
    background: aliceblue;
    color: deepskyblue;
}

.default-2 {
    background: pink;
    color: hotpink;
}


.default-3 {
    background: greenyellow;
    color: mediumseagreen;
}

.tooltip {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    background: #20282D;
    background: rgba(32, 40, 45, 0.95);
    padding: 3px 5px 3px 5px;
    color: #ffffff;
    text-align: center;
    border-radius: 2px;
    text-transform: capitalize;
    white-space: nowrap;
    font-weight: 400;
    z-index: 2000;
}

.tooltip p {
    margin: 0;
    font-size: 9px;
    line-height: 10px;
}

.tooltip .arrow-down {
    display: inline-block;
    height: 0;
    width: 0;
    border-top: 3px solid rgba(32,40,45,0.95);
    border-right: 3px solid transparent;
    border-left: 3px solid transparent;
    position: absolute;
    bottom: -3px;
    left: 50%;
    margin-left: -2px;
}

.tooltip .arrow-up {
    display: inline-block;
    height: 0;
    width: 0;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-bottom: 3px solid rgba(32,40,45,0.95);
    position: absolute;
    top: -3px;
    left: 50%;
    margin-left: -2px;
}